tests/
demo/
jupiter_demo/


*.json

results_small/

*.eps

*.png

*.h5

*.mat

*.m~
*.cpp~
*.h~
*.err
*.out

*.MDF
*.TIF

*.mexw64
*.mexa64
*.manifest
*.lib
*.exp

*.project
*.workspace
*.workspace.philipp

*.o
*.pdb
*.obj
frontend

.codelite/

*.sdf
*.suo
*.opensdf
*.opendb
*.log
*.tlog
*.user
VS2015/Debug/
VS2015/Release/
VS2015/hs_warp/x64
*.ipch

.vs/
*.vspx

data/

init.m

*.asv

*.avi
*.mp4
*.mj2

*.pdf

*.db



# python ignores:

*.avi
.idea/
venv/
data/
__pycache__/

